#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
INFOPLIST_KEY_CFBundleDisplayName=MeMuslim
GOOGLE_SIGN_IN_CLIENT_ID=181575856185-utien7qr321gnjecad9toqpi0j1kguoo.apps.googleusercontent.com
GOOGLE_SIGN_IN_REVERSED_CLIENT_ID=com.googleusercontent.apps.181575856185-utien7qr321gnjecad9toqpi0j1kguoo
IPHONEOS_DEPLOYMENT_TARGET=15.0
